Repository chatter-social/Creeper, changes with the labels that .github/labeler.yml gives for each.
All labels: interpreter, bundler, examples, README

Add Coveralls badge
  README.md
Labels: README

Create coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Fix typo
  .github/workflows/coveralls.yml
Labels: none

Fix Python info
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Delete coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Create build_actions.sh
  build_actions.sh
Labels: none

Create coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Hopeful Coveralls implementation
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Update coveralls.yml
  .github/workflows/coveralls.yml
Labels: none

Create __init__.py
  src/__init__.py
Labels: none

Give up on Coveralls
  .github/workflows/coveralls.yml
Labels: none

Cleanup
  src/__init__.py
Labels: none

Update README.md
  README.md
Labels: README

Delete build_actions.sh
  build_actions.sh
Labels: none

Update Chatterware status
  README.md
Labels: README

Update typo
  README.md
Labels: README

Update creeper.py
  src/creeper.py
Labels: interpreter

Update Security.MD
  SECURITY.md
Labels: none

.github/labeler.yml:

interpreter:
  - src/creeper.py
  
bundler:
  - src/bundler.py

examples: examples/*

README:
  - README.md
