Repository chatter-social/Creeper, changes with the labels that .github/labeler.yml gives for each.
All labels: interpreter, examples, README

.github/labeler.yml:

interpreter:
  - src/**/*

examples: examples/*

README:
  - README.md

Update creeper.py
  src/creeper.py
Labels: interpreter

Update creeper.py
  src/creeper.py
Labels: interpreter

Update README.md
  README.md
Labels: README

Update README.md
  README.md
Labels: README

Create python-testing.yml
  .github/workflows/python-testing.yml
Labels: none

Update Python Check
  .github/workflows/python-testing.yml
Labels: none

Create pytest.ini
  pytest.ini
Labels: none

Update pytest.ini
  pytest.ini
Labels: none

Delete python-testing.yml
  .github/workflows/python-testing.yml
Labels: none

Add single-quote strings
  src/creeper.py
Labels: interpreter

Revert buggy commit
  src/creeper.py
Labels: interpreter

Implement exit system
  src/creeper.py
Labels: interpreter

Remove pytest artifact
  pytest.ini
Labels: none

Update README.md
  README.md
Labels: README

Modify patch number
  src/creeper.py
Labels: interpreter

Add files via upload
  creeper.png
Labels: none

Delete creeper.png
  creeper.png
Labels: none

Create blank template file
  extension/creeper.png
Labels: none

Update creeper.png
  extension/creeper.png
Labels: none

Update README.md
  README.md
Labels: README

Add files via upload
  screenshot.PNG
Labels: none

Create bundler
  src/bundler.py
Labels: interpreter
